@model IEnumerable<RMTracker.Core.Models.s_Painting>

@{
    ViewBag.Title = "Index";
}

<h2>งานทำสี</h2>

<p>
    @Html.ActionLink("กลับสู่หน้าหลัก", "Index", "Home")
</p>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Special_status)*@
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.SubC2B)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status_Painting)
            </th>
            <th>
                @Html.Label("ทำกี่แผ่น")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Special_status)*@
                </td>
                <td>
                    @if (item.Urgent_Status == "0")
                    {
                    }
                    @if (item.Urgent_Status == "1")
                    {
                        <img src="@Url.Content("~/Content/Images/StatusImage/UrgentR.png")" width="25" height="25">
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubC2B)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer)
                </td>
                <td>
                    @if (item.Status_Painting == "อยู่ในคิว")
                    {
                        <img src="@Url.Content("~/Content/Images/StatusImage/Queue.png")" width="25" height="25">
                    }
                    @if (item.Status_Painting == "หยุด" || item.Status_Painting == "หยุดชั่วคราว")
                    {
                        <img src="@Url.Content("~/Content/Images/StatusImage/Stop.png")" width="25" height="25">
                    }
                    @if (item.Status_Painting == "กำลังผลิต")
                    {
                        <img src="@Url.Content("~/Content/Images/StatusImage/Process.png")" width="25" height="25">
                    }
                    @if (item.Status_Painting == "เสร็จ")
                    {
                        <img src="@Url.Content("~/Content/Images/StatusImage/Finish.png")" width="25" height="25">
                    }
                    @if (item.Status_Painting == "ปฏิเสธ" || item.Status_Painting == "ปฏิเสธ")
                    {
                        <img src="@Url.Content("~/Content/Images/StatusImage/dislike.png")" width="25" height="25">
                    }
                    @if (item.Status_Painting == "รอตรวจสอบ")
                    {
                        <img src="@Url.Content("~/Content/Images/StatusImage/Check.png")" width="25" height="25">
                    }
                    @if (item.Status_Painting != "อยู่ในคิว" && item.Status_Painting != "หยุด" && item.Status_Painting != "หยุดชั่วคราว"
                        && item.Status_Painting != "กำลังผลิต" && item.Status_Painting != "เสร็จ" && item.Status_Painting != "ปฏิเสธ"
                        && item.Status_Painting != "ถูกปฏิเสธ" && item.Status_Painting != "รอตรวจสอบ")
                    {
                        @Html.DisplayFor(modelItem => item.Status_Painting)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User)
                </td>

                <td>
                    @if (item.Status_Painting == "อยู่ในคิว")
                    {
                        <a href="@Url.Action("Start", new { id = item.Id })" title="เริ่มงาน" class="links">
                            <img src="@Url.Content("~/Content/Images/StatusImage/AcceptG.png")" width="25" height="25">
                        </a>
                        <img src="@Url.Content("~/Content/Images/StatusImage/PauseG.png")" width="25" height="25">
                        <img src="@Url.Content("~/Content/Images/StatusImage/FinishG.png")" width="25" height="25">
                        <a href="@Url.Action("Denine", new { id = item.Id })" title="ปฏิเสธ" class="links">
                            <img src="@Url.Content("~/Content/Images/StatusImage/DenyR.png")" width="25" height="25">
                        </a>
                    }
                    @if (item.Status_Painting == "หยุดชั่วคราว")
                    {
                        <img src="@Url.Content("~/Content/Images/StatusImage/AcceptGr.png")" width="25" height="25">
                        <a href="@Url.Action("UnPause", new { id = item.Id })" title="เริ่มงานต่อ" class="links">
                            <img src="@Url.Content("~/Content/Images/StatusImage/Start.png")" width="25" height="25">
                        </a>
                        <img src="@Url.Content("~/Content/Images/StatusImage/FinishG.png")" width="25" height="25">
                        <img src="@Url.Content("~/Content/Images/StatusImage/DenyG.png")" width="25" height="25">
                    }
                    @if (item.Status_Painting == "รอตรวจสอบ" || item.Status_Painting == "ปฏิเสธ")
                    {
                        <img src="@Url.Content("~/Content/Images/StatusImage/AcceptGr.png")" width="25" height="25">
                        <img src="@Url.Content("~/Content/Images/StatusImage/PauseG.png")" width="25" height="25">
                        <img src="@Url.Content("~/Content/Images/StatusImage/FinishG.png")" width="25" height="25">
                        <a href="@Url.Action("NewWork", new { id = item.Id })" title="เริ่มงานใหม่" class="links">
                            <img src="@Url.Content("~/Content/Images/StatusImage/Check.png")" width="25" height="25">
                        </a>
                    }
                    @if (item.Status_Painting == "กำลังผลิต")
                    {
                        <img src="@Url.Content("~/Content/Images/StatusImage/AcceptGr.png")" width="25" height="25">
                        <a href="@Url.Action("Pause", new { id = item.Id })" title="หยุดชั่วคราว" class="links">
                            <img src="@Url.Content("~/Content/Images/StatusImage/Pause.png")" width="25" height="25">
                        </a>
                        <a href="@Url.Action("Finish", new { id = item.Id })" title="เสร็จงาน" class="links">
                            <img src="@Url.Content("~/Content/Images/StatusImage/Start_Station.png")" width="25" height="25">
                        </a>
                        <img src="@Url.Content("~/Content/Images/StatusImage/DenyG.png")" width="25" height="25">
                    }
                    @if (item.Status_Painting != "กำลังผลิต" && item.Status_Painting != "อยู่ในคิว" && item.Status_Painting != "หยุดชั่วคราว" && item.Status_Painting != "ปฏิเสธ")
                    {
                        <img src="@Url.Content("~/Content/Images/StatusImage/AcceptGr.png")" width="25" height="25">
                        <img src="@Url.Content("~/Content/Images/StatusImage/PauseG.png")" width="25" height="25">
                        <img src="@Url.Content("~/Content/Images/StatusImage/FinishG.png")" width="25" height="25">
                        <img src="@Url.Content("~/Content/Images/StatusImage/DenyG.png")" width="25" height="25">
                    }
                </td>
            </tr>
        }
    </table>
    </div>
    
