@model IEnumerable<RMTracker.Core.Models.s_Cleaning>

@{
    ViewBag.Title = "Index";
}

<h2>งานทำความสะอาด</h2>

<p>
    @Html.ActionLink("กลับสู่หน้าหลัก", "Index", "UserWorks")
</p>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Special_status)*@
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.SubC2B)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status_Cleaning)
            </th>
            <th>
                @Html.Label("ทำกี่แผ่น")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Special_status)
                </td>
                <td>
                    @if (item.Urgent_Status == "0")
                    {
                    }
                    @if (item.Urgent_Status == "1")
                    {
                        <img src="@Url.Content("~/Content/Images/StatusImage/UrgentR.png")" width="25" height="25">
                    }
                    @if (item.Status_Cleaning == "หยุด")
                    {
                        <img src="@Url.Content("~/Content/Images/StatusImage/salestop.png")" width="25" height="25">
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubC2B)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer)
                </td>
                <td>
                    @if (item.Status_Cleaning == "อยู่ในคิว")
                    {
                        <img src="@Url.Content("~/Content/Images/StatusImage/Queue.png")" width="25" height="25">
                    }
                    @if (item.Status_Cleaning == "หยุด" || item.Status_Cleaning == "หยุดชั่วคราว")
                    {
                        <img src="@Url.Content("~/Content/Images/StatusImage/Stop.png")" width="25" height="25">
                    }
                    @if (item.Status_Cleaning == "กำลังผลิต")
                    {
                        <img src="@Url.Content("~/Content/Images/StatusImage/Process.png")" width="25" height="25">
                    }
                    @if (item.Status_Cleaning == "เสร็จ")
                    {
                        <img src="@Url.Content("~/Content/Images/StatusImage/Finish.png")" width="25" height="25">
                    }
                    @if (item.Status_Cleaning == "ปฏิเสธ" || item.Status_Cleaning == "ถูกปฏิเสธ")
                    {
                        <img src="@Url.Content("~/Content/Images/StatusImage/dislike.png")" width="25" height="25">
                    }
                    @if (item.Status_Cleaning == "รอตรวจสอบ")
                    {
                        <img src="@Url.Content("~/Content/Images/StatusImage/Check.png")" width="25" height="25">
                    }
                    @if (item.Status_Cleaning != "อยู่ในคิว" && item.Status_Cleaning != "หยุด" && item.Status_Cleaning != "หยุดชั่วคราว"
                        && item.Status_Cleaning != "กำลังผลิต" && item.Status_Cleaning != "เสร็จ" && item.Status_Cleaning != "ปฏิเสธ"
                        && item.Status_Cleaning != "ถูกปฏิเสธ" && item.Status_Cleaning != "รอตรวจสอบ")
                    {
                        @Html.DisplayFor(modelItem => item.Status_Cleaning)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User)
                </td>

                <td>
                    
                        <img src="@Url.Content("~/Content/Images/StatusImage/AcceptGr.png")" width="25" height="25">
                        <img src="@Url.Content("~/Content/Images/StatusImage/PauseG.png")" width="25" height="25">
                        <img src="@Url.Content("~/Content/Images/StatusImage/FinishG.png")" width="25" height="25">
                        <img src="@Url.Content("~/Content/Images/StatusImage/DenyG.png")" width="25" height="25">
                    
                </td>
            </tr>
        }
    </table>
</div>

