@model IEnumerable<RMTracker.Core.Models.User_Works>
@*@model2  IEnumerable<RMTracker.Core.Models.User_Works.>*@
    @{
        ViewBag.Title = "Index";
    }

    <h2>ออเดอร์ทั้งหมด</h2>

    <p>
        @Html.ActionLink("สร้างงานใหม่", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.C2BNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubC2B)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order_Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Sub_C2B)
        </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.C2BNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer)
        </td>
        <td>
            @Html.ActionLink(item.subindex.Count.ToString(), "Index", "SubC2B", new { id = item.Id }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        @*@Html.ActionLink("SubC2B", "Index", "SubC2B", new { id = item.Id }, null)
        @foreach (var a in item.subindex)
        {
            @Html.ActionLink(a.SubC2B, "Index", "SubC2B", new { id = item.Id }, null)
            @item.subindex.Count()
        }*@
        <td>
            @Html.ActionLink("สร้างงานย่อย", "Create", "SubC2B", new { id = item.Id }, null) |
            @Html.ActionLink("แก้ไข", "Edit", new { id = item.Id }) |
            @Html.ActionLink("รายละเอียด", "Details", new { id = item.Id }) |
            @Html.ActionLink("ลบ", "Delete", new { id = item.Id })
        </td>
    </tr>
        }

    </table>
