@model RMTracker.Core.ViewModels.DenineView

@{
    ViewBag.Title = "Index";
}

<h2>งานปิดผิว</h2>

<p>
    @Html.ActionLink("กลับสู่หน้าหลัก", "Index", "SubC2B", null, new { Id = Model.SLaminations.Id })
    @Html.ActionLink("ย้อนกลับ", null, null, null, new { href = Request.UrlReferrer })
</p>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Special_status)*@
            </th>
            <th> </th>
            <th>
                @Html.DisplayNameFor(model => model.SLaminations.SubC2B)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SLaminations.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SLaminations.Status_Lamination)
            </th>
            <th>
                @Html.Label("ปิดกี่หน้า")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SLaminations.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SLaminations.Machine_Lamination)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.VLaminations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Special_status)
                </td>
                <td>
                    @if (item.Urgent_Status == "0")
                    {
                    }
                    @if (item.Urgent_Status == "1")
                    {
                        <img src="@Url.Content("~/Content/Images/StatusImage/UrgentR.png")" width="25" height="25">
                    }
                    @if (item.Status_Lamination == "หยุด")
                    {
                        <img src="@Url.Content("~/Content/Images/StatusImage/salestop.png")" width="25" height="25">
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubC2B)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer)
                </td>
                <td>
                    @if (item.Status_Lamination == "อยู่ในคิว")
                    {
                        <img src="@Url.Content("~/Content/Images/StatusImage/Queue.png")" width="25" height="25">
                    }
                    @if (item.Status_Lamination == "หยุด" || item.Status_Lamination == "หยุดชั่วคราว")
                    {
                        <img src="@Url.Content("~/Content/Images/StatusImage/Stop.png")" width="25" height="25">
                    }
                    @if (item.Status_Lamination == "กำลังผลิต")
                    {
                        <img src="@Url.Content("~/Content/Images/StatusImage/Process.png")" width="25" height="25">
                    }
                    @if (item.Status_Lamination == "เสร็จ")
                    {
                        <img src="@Url.Content("~/Content/Images/StatusImage/Finish.png")" width="25" height="25">
                    }
                    @if (item.Status_Lamination == "ปฏิเสธ" || item.Status_Lamination == "ปฏิเสธ")
                    {
                        <img src="@Url.Content("~/Content/Images/StatusImage/dislike.png")" width="25" height="25">
                    }
                    @if (item.Status_Lamination == "รอตรวจสอบ")
                    {
                        <img src="@Url.Content("~/Content/Images/StatusImage/Check.png")" width="25" height="25">
                    }
                    @if (item.Status_Lamination == "เสร็จ")
                    {
                        <img src="@Url.Content("~/Content/Images/StatusImage/2Finish.png")" width="25" height="25">
                    }
                    @if (item.Status_Lamination != "อยู่ในคิว" && item.Status_Lamination != "หยุด" && item.Status_Lamination != "หยุดชั่วคราว"
                        && item.Status_Lamination != "กำลังผลิต" && item.Status_Lamination != "เสร็จ" && item.Status_Lamination != "ปฏิเสธ"
                        && item.Status_Lamination != "ถูกปฏิเสธ" && item.Status_Lamination != "รอตรวจสอบ")
                    {
                        @Html.DisplayFor(modelItem => item.Status_Lamination)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User)
                </td>
                <td>
                    @if (item.Machine_Lamination == "PRESS1")
                    {
                        <img src="@Url.Content("~/Content/Images/HeroProduction/ปิดผิว/PRESS1_wolverine.png")" width="25" height="25">
                    }
                    @if (item.Machine_Lamination == "PRESS2")
                    {
                        <img src="@Url.Content("~/Content/Images/HeroProduction/ปิดผิว/PRESS2_thor.png")" width="25" height="25">
                    }
                    @Html.DisplayFor(modelItem => item.Machine_Lamination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>

                <td>
                    <img src="@Url.Content("~/Content/Images/StatusImage/AcceptGr.png")" width="25" height="25">
                    <img src="@Url.Content("~/Content/Images/StatusImage/PauseG.png")" width="25" height="25">
                    <img src="@Url.Content("~/Content/Images/StatusImage/FinishG.png")" width="25" height="25">
                    <img src="@Url.Content("~/Content/Images/StatusImage/DenyG.png")" width="25" height="25">
                </td>
            </tr>
        }
    </table>
</div>

