@model RMTracker.Core.Models.s_Pickup

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>s_Pickup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreateAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Pickup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Pickup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C2BNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C2BNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubC2B)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubC2B)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time_pause)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time_pause)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Special_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Special_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status_Pickup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status_Pickup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QC_Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QC_Comment)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
